body {
    background-color: rgba(222, 19, 11);
    font: 155% times, x-large;
	line-height: 1.88889;
	color: #8cdf39; 
}

h1 {
    color: rgb(29, 140, 231);
    margin-left: 20px;
    font-size: 2em;
    margin: 0.67em 0;
}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font: 100% arial, sans-serif;
    color: rgb(230,230,230); 
    }

p.hometown {
        
        font: 120% message-box, small-caption;
        line-height: 1.222;
        color: black;
    }
div {
    width: 300px;
    margin: 50px;
    border: 22px solid red;
    padding: 50px 50px 75px 80px;
    box-sizing: border-box;
}